/* PRIMARY AND SECONDARY COLORS */
.text-primary{
    color: #FF0000;
}

.text-secondary{
    color: #0000FF;
}

.btn{
    background: #FF0000;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary, .bg-primary{
    background: #FF0000;
    color: #fff;
}
.btn-light, .bg-light{
    background: #f1f0ef;
    color: #333;
}

.btn-secondary, .bg-secondary{
    background-color: #808000;
    color: #fff;
}

.btn-outline{
    border: 1px solid#fff;
    background: transparent;
}

.btn-dark, .bg-dark{
  background: #333;
  color: #fff;
}



/* FLEX-ITEMS */

.flex-items{
    display: flex;
     justify-self: center;
     text-align: center;
     height: 100%;
}

.flex-items > div{
    padding: 20px;
}

/* SOLUTIONS AND FLEX-COLUMNS */
.flex-columns .row{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.flex-columns .column{
  display: flex;
  flex-direction: column;
flex-basis: 100%;
  flex: 1;
}

.flex-columns .left-content,
.flex-columns .right-content{
  height: 100%;
}

.flex-columns img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
.flex-columns .right-content h2{
  font-size: 40px;
  font-weight: 100;
  margin-top: 10px;
}

.flex-columns .right-content p{
  margin: 20px 0;
}


/* BUSINESS CASES */
.main-header{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.main-header h2{
  font-size: 40px;
  font-weight: lighter;
  
}

/* CASES */
#cases{
    padding: 30px 0;
}

#cases img:hover{
    opacity: 0.7;
    cursor: pointer;
}


#cases .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#cases .row .column{
   flex: 1;
   padding: 0 4px;
}

/* BLOG */
#blog .row{
    flex-direction: row-reverse;
}

/* ABOUT */
#about-us{
  padding: 40px 20px;
}

.about{
  padding: 30px 0 90px;
}
#about-us .about{
  display: flex;
  flex-direction: column;
   align-items: center;
   text-align: center;
  justify-content: center;
}

#about-us h2{
  font-size: 40px;
  margin: 10px 0 5px;
}
#about-us h4{
  font-size: 20px;;
}

#about-us .row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#about-us .row > div{
  flex: 1;
  padding: 0 20px;
}

#about-us .row img{
  border-radius: 50%;
}
#about-us .row p{
  margin: 15px 0px 0;
}

/* CONTACT */
#contact{
  padding: 30px 0 0;
}
#contact .row{
display: flex;
width: 100%;
flex-wrap: wrap;
}

#contact .row .column{
display: flex;
flex-direction: column;
flex: 1;
}

#contact .row .left-content,
#contact .row .right-content{
  height: 100%;
}

#contact .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact .right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  height: 100%;
}
#contact .right-content h2{
 font-size: 30px;
 margin-bottom: 10px;
}

#contact .right-content input{
  height: 40px;
  width: 100%;
  margin: 10px 0;
  padding: 4px;
  border: 1px solid #333;
} 

.btn-submit{
  background: #333;
  font-size: 20px;
}

/* BLOGS */


/* FOOTER */
#main-footer{
  background: #333;
  color: #fff;
  height: 200px;
}
#main-footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

 .footer-icons i{
 padding: 9px;
}

 .footer-icons i:hover{
  cursor: pointer;
  color: #FF0000;
}
#main-footer a{
  color: #fff;
}




